.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/modern-python-bootcamp/FileContentIndex/f25fe961-ca9c-4102-a033-16c7359cfc54.vsidx
.vs/modern-python-bootcamp/FileContentIndex/read.lock
.vs/modern-python-bootcamp/v17/.wsuo
